/* reset */

body,p,a,ul,li,div,nav,h2{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* base styles */

body{
    overflow: auto;
    position: relative;
}

.side-nav{
    background-color: #283655;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.area-1, .area-2, .area-3{
    margin: 10px 0;
}

.area-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.area-3 div{
    max-width: 37vw;
    text-align: center;
}

.content{
    box-sizing: border-box;
}

.profile-pic{
    border: 2px solid #283655;
    border-radius: 100%;
}

footer{
    padding: 10px;
}

p.text-center{
    text-align: center;;
}

/* fonts */

.side-nav a.aa{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25vw;
    color: #f0f0eb9f;
}

.side-nav a.t{
    font-size: 1.35vw;
}

.side-nav a.ii{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #f0f0eb9f;
}

.side-nav a.active{
    color: #F0F0EB;
}

.side-nav a:hover,i:hover{
    color: #F0F0EB;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    letter-spacing: .010em;
    line-height: 1.6em;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.75vw;
    font-weight: 100;
    letter-spacing: .010em;
    line-height: 1.6em;
    border-bottom: 2px solid #7A7A8D;
    margin: 1vh auto;
}

/* small tablets styles*/

@media screen and (max-width: 959px){

    .side-nav{
        float: none;
        position: relative;
        text-align: center;
    }
    .side-nav img{
        max-width: 150px;
        margin: 10px;
    }
    .side-nav a.aa{
        display: block;
        margin: 0.5vh auto;
        font-size: 20px;
    }
    .side-nav a.t{
        font-size: 23px;
    }
    .side-nav a.ii i{
        margin: 10px;
        font-size: 23px;
    }
    .content{
        float: none;
        margin: 10px 25px;
    }
    .content h2{
        font-size: 2.25em;
    }
    .content p{
        font-size: 1.125em;
    }

}

@media screen and (min-width: 960px){

    .side-nav{
        float: left;
        width: 25%;
        height: 100%;
        min-width: min-content;
        padding: 15vh 1vw;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        box-sizing: border-box;
    }
    .side-nav img{
        max-width: 80%;
        margin-bottom: 1.5vh;
    }
    .side-nav a.aa{
        display: block;
        margin: 1.25vh auto;
        font-size: 23px;
    }
    .side-nav a.t{
        font-size: 26px;
    }
    .side-nav a.ii i{
        margin: 10px;
        font-size: 25px;
    }
    .content{
        float: left;
        width: 75%;
        padding: 2% 4%;
        margin-left: 25%;
        box-sizing: border-box;
    }
    .content p{
        font-size: 18px;
        font-weight: 200;
        letter-spacing: .010em;
        line-height: 1.5em;
    }
    
    .content h2{
        font-size: 28px;
        font-weight: 100;
        letter-spacing: .010em;
        line-height: 1.5em;
        border-bottom: 2px solid #555581;
        margin: 1vh auto;
    }

}

/* large tablet and laptop styles*/

@media screen and (min-width: 1200px){

    .side-nav{
        float: left;
        width: 22%;
        height: 100%;
        padding: 5vh 1vw;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        box-sizing: border-box;
    }
    .side-nav img{
        max-width: 80%;
        margin-bottom: 1vh;
    }
    .side-nav a.aa{
        display: block;
        margin-bottom: 3vh;
    }
    .content{
        float: left;
        width: 78%;
        padding: 2% 4%;
        margin-left: 22%;
        box-sizing: border-box;
    }

}


/* mobile styles */

@media screen and (max-width: 450px){

    .side-nav img{
        max-width: 150px;
        margin: 10px;
    }
    .side-nav a.aa{
        display: block;
        margin: 1vh auto;
        font-size: 20px;
    }
    .side-nav a.t{
        font-size: 24px;
    }
    .content{
        float: none;
        margin: 10px 15px;
    }
    .content h2{
        font-size: 23px;
    }
    .content p{
        font-size: 16px;
    }

}