/* reset */

*{
    box-sizing: border-box;
}

body,p,a,ul,li,div,nav,h2{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* base styles */

body{
    overflow: auto;
    position: relative;
}

.side-nav{
    background-color: #283655;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.side-nav::-webkit-scrollbar {
    display: none;
}

.side-nav{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.area-1, .area-2, .area-3{
    margin: auto 0;
    padding: 15px 0;
}

.area-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.area-3 div{
    max-width: 37vw;
    text-align: center;
}

.profile-pic{
    border: 2px solid #283655;
    border-radius: 100%;
}

.t-container {
    width: 100%;
}

.timeline {
    position: relative;
    width: 97%;
    max-width: 1400px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #283655;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.left {
    left: 0;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #283655;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #283655
}

.right {
    left: 50%;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #283655;
    border-width: 10px 10px 10px 0;
    border-color: transparent #283655 transparent transparent;
}

.right::after {
    left: -14px;
}

.container.left {
    padding: 10px 50px 10px 10px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container.right {
    padding: 10px 10px 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
.container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -14px;
    background-color: #ffffff;
    border: 4px solid #283655;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
 }
  
.t-content {
    padding: 15px 20px 20px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: 2px solid #283655;
    border-radius: 5px;
}

p.text-center{
    text-align: center;
}

/* fonts */

.side-nav a.aa{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25vw;
    line-height: 1.45em;
    color: #f0f0eb9f;
}

.side-nav a.t{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.35vw;
}

.side-nav a.ii{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #f0f0eb9f;
}

.side-nav a.active{
    color: #F0F0EB;
}

.side-nav a:hover,i:hover{
    color: #F0F0EB;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    letter-spacing: .010em;
    line-height: 1.6em;
}

p.s-heads{
    line-height: 2em;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.75vw;
    font-weight: 400;
    letter-spacing: .010em;
    line-height: 1.6em;
    border-bottom: 2px solid #7A7A8D;
    margin: 1vh auto;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25vw;
    font-weight: 400;
    letter-spacing: .010em;
    line-height: 1.6em;
    border-bottom: 2px solid #7A7A8D;
    margin: 1vh auto;
}

/* landing fonts*/

@media screen and (min-width: 960px){
    .side-nav a.aa{
        display: block;
        margin: 1.25vh auto;
        font-size: 23px;
    }
    .side-nav a.t{
        display: block;
        margin: 1.25vh auto;
        font-size: 26px;
    }
    .side-nav a.ii i{
        margin: 10px;
        font-size: 25px;
    }
    .content{
        float: left;
        width: 72%;
        padding: 1.25% 3%;
        margin-left: 28%;
    }
    .content p, .date{
        font-size: 19px;
        font-weight: 400;
        letter-spacing: .010em;
    }
    .content h2{
        font-size: 28px;
        font-weight: 400;
        letter-spacing: .010em;
        border-bottom: 2px solid #555581;
        margin: 1vh auto;
    }
    .content h3{
        font-size: 24px;
        font-weight: 400;
        letter-spacing: .010em;
        border-bottom: 2px solid #555581;
        margin: 1vh auto;
    }
}
/* laptop styles*/

@media screen and (min-width: 1200px){

    .side-nav{
        float: left;
        width: 21%;
        height: 100%;
        padding: 5vh 1vw;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
    }
    .side-nav img{
        max-width: 100%;
        margin-bottom: 1vh;
    }
    .side-nav a.aa{
        display: block;
        margin-bottom: 3vh;
    }
    .content{
        float: left;
        width: 78%;
        padding: 1.25% 3%;
        margin-left: 22%;
    }

}

/*large tablet styles*/

@media screen and (min-width: 960px) and (max-width:1200px){

    .side-nav{
        float: left;
        width: 28%;
        height: 100%;
        min-width: min-content;
        padding: 15vh 1vw;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
    }
    .side-nav img{
        max-width: 90%;
        margin-bottom: 1.5vh;
    }
    .timeline::after {
        left: 1px;
    }
    .container.left, .container.right {
      width: 100%;
      padding-left: 30px;
      padding-right: 10px;
    }
    .container::before {
      left: 20px;
      border: medium solid #283655;
      border-width: 10px 10px 10px 0;
      border-color: transparent #283655 transparent transparent;
    }
    .right {
      left: 0%;
    }
    .left::after, .right::after {
      left: -13px;
    }
}

/* small tablets styles*/

@media screen and (min-width: 450px) and (max-width: 960px){

    .side-nav{
        float: none;
        position: relative;
        text-align: center;
    }
    .side-nav img{
        max-width: 175px;
        margin: 10px;
    }
    .side-nav a.aa{
        display: block;
        margin: 0.5vh auto;
        font-size: 20px;
    }
    .side-nav a.t{
        display: block;
        margin: 0.5vh auto;
        font-size: 23px;
    }
    .side-nav a.ii i{
        margin: 10px;
        font-size: 23px;
    }
    .content{
        float: none;
        margin: 10px 25px;
    }
    .content h2{
        font-size: 2em;
    }
    .content h3{
        font-size: 1.55em;
    }
    .content p{
        font-size: 1.125em;
    }
    .timeline::after {
        left: 1px;
    }
    .container.left, .container.right {
      width: 100%;
      padding-left: 30px;
      padding-right: 10px;
    }
    .container::before {
      left: 20px;
      border: medium solid #283655;
      border-width: 10px 10px 10px 0;
      border-color: transparent #283655 transparent transparent;
    }
    .right {
      left: 0%;
    }
    .left::after, .right::after {
      left: -13px;
    }

}

/* mobile styles */

@media screen and (max-width: 450px){

    .side-nav{
        float: none;
        position: relative;
        text-align: center;
    }
    .side-nav img{
        max-width: 175px;
        margin: 10px;
    }
    .side-nav a.aa{
        display: block;
        margin: 1vh auto;
        font-size: 20px;
    }
    .side-nav a.t{
        display: block;
        margin: 1vh auto;
        font-size: 24px;
    }
    .side-nav a.ii i{
        margin: 10px;
        font-size: 23px;
    }
    .content{
        float: none;
        margin: 10px 15px;
    }
    .content h2{
        font-size: 23px;
    }
    .content h3{
        font-size: 19px;
    }
    .content p{
        font-size: 16px;
    }
    
    .timeline::after {
        left: 1px;
    }
    .container.left, .container.right {
      width: 100%;
      padding-left: 30px;
      padding-right: 10px;
    }
    .container::before {
      left: 20px;
      border: medium solid #283655;
      border-width: 10px 10px 10px 0;
      border-color: transparent #283655 transparent transparent;
    }
    .right {
      left: 0%;
    }
    .left::after, .right::after {
      left: -13px;
    }
}